<div class="container" style="padding-top:20px">
    <div>
        <div class="row justify-content-start">
            <div class="container">
                
                    <div class="row ">
                        <div class="col col-lg-6  align-items-stretch">

                            <div class="" style="padding-top: 80px;">
                                <div class="row">
                                    <div class="col-12">
                                        <h5>Genesis Pilates</h5>
                                    </div>

                                    
                                        <div class="row" style="padding-top: 20px;">
                                            <div class="col-6"><i class="bi bi-geo-alt"></i><span> Adres:</span></div>
                                            <div class="col-6">Aşağı Öveçler, 1334. Sk. NO:8/4, 06460 Çankaya/Ankara
                                            </div>
                                        </div>
                                    

                                    <div class="row" style="padding-top: 20px;">
                                        <div class="col-6"><i class="bi bi-telephone-fill"></i><span> Telefon:</span>
                                        </div>
                                        <div class="col">0546 846 23 89</div>
                                    </div>

                                    <div class="row" style="padding-top: 40px;">
                                        <div class="col-6"><i class="bi bi-instagram"></i><span> Instagram:</span></div>
                                        <div class="col">
                                            <a target="_blank" href="https://www.instagram.com/genetikpilatesgenesis/" > Instagram profilimize ulaşmak için tıklayınız!</a>
                                        </div>
                                    </div>
<!-- 
                                    <div class="row" style="padding-top: 20px;">
                                        <div class="col-6"><i class="bi bi-envelope"></i><span> Email:</span></div>
                                        <div class="col-7" style="overflow-wrap:anywhere;">info@genesistraining.com.tr</div> -->
                                    </div>

                                </div>
                            </div>

                        </div>

                        <div class="col-sm-12 col-lg-6 align-items-stretch">

                            <div class="" style="padding-top: 80px;">
                                <div class="row">
                                    <div class="col-12">
                                        <h5>Genesis Training</h5>
                                    </div>

                                    <div class="row" style="padding-top: 20px;">
                                        <div class="col-6"><i class="bi bi-geo-alt"></i><span> Adres:</span></div>
                                        <div class="col"></div>
                                    </div>
                                    <div class="row" style="padding-top: 40px;">
                                        <div class="col-6"><i class="bi bi-telephone-fill"></i><span> Telefon:</span>
                                        </div>
                                        <div class="col">0546 846 23 89</div>
                                    </div>

                                  
                                    <div class="row" style="padding-top: 40px;">
                                        <div class="col-6"><i class="bi bi-instagram"></i><span> Instagram:</span></div>
                                        <div class="col"> 
                                            <a target="_blank" href="https://www.instagram.com/genetikpilatesgenesis/" > Instagram profilimize ulaşmak için tıklayınız!</a>
                                          
                                        </div>
                                    
<!--                                   
                                    <div class="row" style="padding-top: 20px;">
                                        <div class="col-5"><i class="bi bi-envelope"></i><span> Email:</span></div>
                                        <div class="col-7">info@genesistraining.com.tr</div>
                                    </div>

                                    <div class="row" style="padding-top: 40px;">
                                        <div class="col-5"><i class="bi bi-envelopes"></i><span> </span></div>
                                        <div class="col-7"> </div>
                                    </div> -->

                                  
                                </div>
                            </div>


                        </div>
                    </div>
                
            </div>
        </div>

    </div>

</div>