<h1><span style="font-size:20pt;">MOBÝL UYGULAMA GÝZLÝLÝK BÝLDÝRÝMÝ</span></h1>

<p><span style="font-size:11pt;">&nbsp;</span></p>
<p><span style="font-size:11pt;">Tüm Kullanýcýlarýmýzýn gizliliði bizim için çok önemlidir. Bir Uygulama Kullanýcýsý olarak Hizmetimizi kullandýðýnýzda, (Uygulama Yayýncýsý olarak) Kiþisel Verilerinizi iþleriz. Bu Gizlilik Bildirimi, Kiþisel Verilerinizi nasýl koruduðumuzu ve iþleme koyduðumuzu açýklar. Dikkatlice okumanýzý öneririz.&nbsp;</span></p>
<h2><span style="font-size:16pt;">1. Bu Gizlilik Bildiriminde ne belirtilmiþtir?</span></h2>
<p><span style="font-size:11pt;">&nbsp;</span></p>
<p><span style="font-size:11pt;">Bu Gizlilik Bildirimindeki bölümler size aþaðýdakiler hakkýnda bilgi verir:&nbsp;</span></p>
<p><br></p>
<ul>
    <li style="list-style-type:disc;font-size:11pt;">
        <p><span style="font-size:11pt;">Ýþlenen Kiþisel Verilerin türleri,</span></p>
    </li>
    <li style="list-style-type:disc;font-size:11pt;">
        <p><span style="font-size:11pt;">Kiþisel Verilerin iþlenme amaçlarý,&nbsp;</span></p>
    </li>
    <li style="list-style-type:disc;font-size:11pt;">
        <p><span style="font-size:11pt;">Kiþisel Verilerin iþlendiði yerler,</span></p>
    </li>
    <li style="list-style-type:disc;font-size:11pt;">
        <p><span style="font-size:11pt;">Kiþisel Verileri korumak için uygulanan güvenlik önlemleri,</span></p>
    </li>
    <li style="list-style-type:disc;font-size:11pt;">
        <p><span style="font-size:11pt;">üçüncü þahýslarla ilgili sorumluluk sýnýrlarý,</span></p>
    </li>
    <li style="list-style-type:disc;font-size:11pt;">
        <p><span style="font-size:11pt;">Kiþisel Verilerinizi görüntüleme, deðiþtirme ve silme,</span></p>
    </li>
    <li style="list-style-type:disc;font-size:11pt;">
        <p><span style="font-size:11pt;">Bu Gizlilik Bildiriminde yapýlan deðiþiklikler;&nbsp;</span></p>
    </li>
    <li style="list-style-type:disc;font-size:11pt;">
        <p><span style="font-size:11pt;">Sorunuz veya açýklamalarýnýz varsa ne yapacaksýnýz?&nbsp;</span></p>
    </li>
</ul>
<p><br></p>
<h2><span style="font-size:16pt;">2. Ýþlenen Kiþisel Verilerin türleri</span></h2>
<p><br></p>
<p><strong><span style="font-size:11pt;">A. Hizmetimiz tarafýndan kullanýlan Kiþisel Veriler&nbsp;</span></strong></p>
<p><span style="font-size:11pt;">Hizmetimizi geliþtirmek için Anonim Verileri kullanýrýz. Bu bilgiler, Hizmet aracýlýðýyla kamuya açýklanmayacaktýr.</span></p>
<p><span style="font-size:11pt;">&nbsp;</span></p>
<p><strong><span style="font-size:11pt;">B. Otomatik olarak oluþturulan bilgiler&nbsp;</span></strong></p>
<p><span style="font-size:11pt;">çoðu diðer web siteleri ve çevrimiçi hizmetler gibi, Uygulamayý nasýl kullandýðýnýzla ilgili olarak otomatik olarak üretilen bilgileri toplar ve iþleriz. Toplanan bilgiler, benzersiz cihaz kimliðinizi içerir.</span></p>
<p><span style="font-size:11pt;">&nbsp;</span></p>
<p><span style="font-size:11pt;">özellikle katýlmayý seçerseniz, Uygulama, coðrafi konum bilgilerinizi toplayabilir. Her durumda, coðrafi konum bilginizin alýnmasýný mobil cihazýnýzýn ayarlarýndan engelleyebilirsiniz.</span></p>
<p><span style="font-size:11pt;">&nbsp;</span></p>
<p><br></p>
<p><span style="font-size:11pt;">Bu, ayný zamanda, Uygulamayý nasýl kullandýðýnýza iliþkin otomatik olarak oluþturulmuþ bilgilerle ilgili olarak gerçekleþir. Bu tür bilgiler, Uygulamanýn nasýl kullanýldýðýný daha iyi anlamamýza ve bir kullanýcý olarak ihtiyacýnýza uygun hizmet üretmemize yardýmcý olur.</span></p>
<p><br></p>
<!-- <p><span style="font-size:11pt;">Uygulama içindeki kullanýcý yetkilendirme özelliklerini etkinleþtirirseniz, aþaðýdaki ek bilgiler saklanýr:&nbsp;</span></p>
<p><br></p>
<ul>
    <li style="list-style-type:disc;font-size:11pt;">
        <p><span style="font-size:11pt;">Ýsim,</span></p>
    </li>
    <li style="list-style-type:disc;font-size:11pt;">
        <p><span style="font-size:11pt;">E-posta,</span></p>
    </li>
    <li style="list-style-type:disc;font-size:11pt;">
        <p><span style="font-size:11pt;">Telefon numarasý (isteðe baðlý);</span></p>
    </li>
</ul>
<p><span style="font-size:11pt;">&nbsp;</span></p> -->
<p><span style="font-size:11pt;">Uygulama sahibine, uygulamanýn kullanýmý hakkýnda bilgi vermek için aþaðýdaki (bilinmeyen) bilgileri de topluyoruz:&nbsp;</span></p>
<p><br></p>
<p><span style="font-size:11pt;">&bull; Uygulamayý açtýðýnýz an,</span></p>
<p><span style="font-size:11pt;">&bull; Uygulamadan ayrýldýðýnýz an.</span></p>
<p><span style="font-size:11pt;">&nbsp;</span></p>
<!-- <p><span style="font-size:11pt;">Not: kullanýcý yetkilendirme özellikleri etkinleþtirilmiþse, giriþ yaptýðýnýzda anonim bilgileri sizin bilgilerinizle iliþkilendirebiliriz.</span></p>
<p><br></p> -->
<!-- <p><br></p> -->
<h2><span style="font-size:16pt;">3. Kiþisel Verilerin iþlenme amaçlarý</span></h2>
<p><span style="font-size:11pt;">&nbsp;</span></p>
<p><strong><span style="font-size:11pt;">A. Amaçlar&nbsp;</span></strong></p>
<p><br></p>
<p><span style="font-size:11pt;">Taraflar Kiþisel Verileri aþaðýdaki amaçlarla iþlemektedir:</span><strong><span style="font-size:11pt;">&nbsp;</span></strong></p>
<p><br></p>
<ul>
    <li style="list-style-type:disc;font-size:11pt;">
        <p><span style="font-size:11pt;">Hizmeti kullanabilmenizi saðlamak için,</span></p>
    </li>
    <li style="list-style-type:disc;font-size:11pt;">
        <p><span style="font-size:11pt;">Hizmetimizle ilgili bilgileri güncel tutmak için,</span></p>
    </li>
    <li style="list-style-type:disc;font-size:11pt;">
        <p><span style="font-size:11pt;">Hizmetin iyileþtirilmesi ve/veya özelleþtirilmesi için,</span></p>
    </li>
    <li style="list-style-type:disc;font-size:11pt;">
        <p><span style="font-size:11pt;">Sizi tanýmlamak ve/veya Hizmeti özelleþtirmek için,</span></p>
    </li>
    <li style="list-style-type:disc;font-size:11pt;">
        <p><span style="font-size:11pt;">Destek saðlamak için,</span></p>
    </li>
    <li style="list-style-type:disc;font-size:11pt;">
        <p><span style="font-size:11pt;">Kiþisel Verilerinizi, yasal olarak yükümlü olduðumuz durumlarda, yetkili mercilere iletmek.</span></p>
    </li>
</ul>
<p><span style="font-size:11pt;">&nbsp; &nbsp;</span></p>
<p><span style="font-size:11pt;">&nbsp;</span></p>
<p><strong><span style="font-size:11pt;">B. Kiþisel Verilerin üçüncü þahýslara iletilmesi</span></strong><span style="font-size:11pt;">&nbsp;</span></p>
<p><span style="font-size:11pt;">Sizden önceden izin alýnmaksýzýn Kiþisel Verilerinizi üçüncü þahýslara satmamaktayýz, satmýyor veya kiralamýyoruz. Bununla birlikte, ücretli Hizmetlerle ilgili ödeme saðlayýcýlarý aracýlýðýyla ödeme yapmak gibi Kiþisel Verilerinizi size saðlama veya talimatlarý yerine getirmeniz açýsýndan þart olduðu durumlarda, Kiþisel Verilerinizi üçüncü taraflara saðlayabiliriz.&nbsp;</span></p>
<p><br></p>
<p><span style="font-size:11pt;">Uygun olduðunu düþündüðümüz þekilde Hizmet&apos;in bu tür amaçlar için üçüncü taraflara kullanýmý hakkýnda &quot;toplu anonim veriler&quot; saðlayabiliriz. &quot;Toplam anonim veriler&quot;, size geri gönderilemeyen ve bu nedenle Kiþisel Veriler olarak sayýlmayan verilerdir. örneðin, Kullanýcýlarýn Hizmeti nasýl kullandýðýný daha iyi anlamak için toplu anonim verileri kullanabiliriz.</span></p>
<p><br></p>
<p><span style="font-size:11pt;">üçüncü bir tarafa geçtiðimiz veya bir üçüncü tarafla birleþtiðimiz veya bir yeniden yapýlandýrmaya tabi olduðumuz durumda, Kiþisel Verileriniz de üçüncü kiþilere açýklanabilir ve / veya bu üçüncü kiþiye devredilebilir. Bu üçüncü taraf, Kiþisel Verileri ve bize saðladýðýnýz diðer bilgileri kullanmaya devam etme hakkýna sahip olacak.&nbsp;</span></p>
<p><br></p>
<p><span style="font-size:11pt;">Kiþisel Verilerinizi, iyi niyetle, bir mahkeme kararý, halen devam eden adli iþlem, cezai veya sivil mahkeme celbi veya kolluk kuvveti makamlarý tarafýndan verilen diðer yasal iþlem veya taleplere uymanýz gerektiðine inandýðýmýz yerlerde ifþa edebiliriz veya egzersiz yapabiliriz Yasal haklarý veya yasal iddialara karþý savunmak.&nbsp;</span></p>
<h2><span style="font-size:16pt;">4. Kiþisel Verilerin iþlendiði yerler</span></h2>
<p><span style="font-size:11pt;">Hizmet kapsamýnda iþlenen verilerin tutulduðu veri merkezleri farklý bölgelerde bulunmaktadýr., Türkiye, Ýrlanda, Hollanda, Amerika Birleþik Devletleri bölgelerinde yer alan barýndýrma hizmetleri kullanýlarak saðlanmaktadýr. Bununla birlikte, iþlenen Kiþisel Veriler, bu ülkeler ve bölgeler dýþýnda bir ülkede bulunan muhafaza sunucularýna aktarýlabilir ve depolanabilir. Kiþisel Verilerinizin güvenli bir þekilde ve bu gizlilik politikasýna uygun þekilde kullanýlmasýný saðlamak için makul ölçüde gerekli tüm adýmlarý atacaðýz.</span></p>
<h2><span style="font-size:16pt;">5. Kiþisel Verileri korumak için hangi güvenlik önlemleri uygulanmaktadýr?</span></h2>
<p><span style="font-size:11pt;">Verilerinizin güvenliði ve diðer Kullanýcýlarýn güvenliði bizim için çok önemlidir. Kiþisel Verilerinizi kayýp ya da herhangi bir yasadýþý iþleme karþý korumak için teknik ve organizasyonel önlemler aldýk. Aþaðýdaki tedbirleri uyguladýk: sunucularýmýzý güvenlik duvarlarý, SSL baðlantýlarý ve hassas verilerin þifrelenmesi yoluyla koruma. Bu liste ayrýntýlý deðildir.&nbsp;</span></p>
<h2><span style="font-size:16pt;">6. üçüncü þahýslarla ilgili sorumluluk sýnýrlarý</span></h2>
<p><span style="font-size:11pt;">Hizmetimiz üçüncü taraflar tarafýndan sunulan hizmetler ve ürünler ve / veya ortaklarýn, reklamverenlerin ve diðer üçüncü taraflarýn web sitelerine veya hizmetlerine köprüler içerebilir.</span></p>
<p><span style="font-size:11pt;">&nbsp; &nbsp;</span></p>
<p><span style="font-size:11pt;">Taraflarýn, bu üçüncü taraflarýn içeriði, web siteleri veya hizmetleri üzerinde herhangi bir kontrolü veya etkisi yoktur. üçüncü kiþi web sitelerinin ve hizmetlerinin kullanýmý için farklý gizlilik politikalarý uygulanabilir. Bu Gizlilik Beyaný, yalnýzca taraflar tarafýndan Hizmeti kendi amaçlarý doðrultusunda kullanmanýz yoluyla elde edilen Kiþisel Verilerle ilgilidir. Taraflar, üçüncü taraf web sitelerinin ve hizmetlerin içeriði, uygulamalarý veya iþletilmesi ile ilgili herhangi bir sorumluluk kabul etmez.</span></p>
<h2><span style="font-size:16pt;">7. Kiþisel Verileri Görüntüleme ve Silme</span></h2>
<p><span style="font-size:11pt;">Uygulamayý kullanarak toplanan kiþisel bilgilere e-posta yoluyla bizimle iletiþime geçmek veya silmek için bir istek gönderebilirsiniz. Kimliðinizi doðrulamak için ek bilgi saðlamanýz istenebilir.</span></p>
<h2><span style="font-size:16pt;">8. çocuk gizliliði</span></h2>
<p><span style="font-size:11pt;">çocuklarla ilgili kiþisel bilgiler bilerek veya kasýtlý olarak toplanmamaktadýr.</span></p>
<h2><span style="font-size:16pt;">9. Güvenlik</span></h2>
<p><span style="font-size:11pt;">Kiþisel bilgilerinizin güvenliðini saðlamak, hasar riskini en aza indirmek, bilgi kaybý ve yetkisiz eriþimden veya bilgiyi kullanmak için önlemler uygulanmaktadýr. Bununla birlikte, bu tedbirler mutlak bilgi güvenliði saðlayamamaktadýr. Dolayýsýyla, kiþisel bilgilerinizin güvenliðini saðlamak için çaba sarf edilir, ancak bu garanti edilmez ve Uygulamanýn ve ilgili veritabanlarýnýn herhangi bir haksýz davranýþ, arýza, izinsiz engeller veya eriþim veya diðer kötüye kullaným ve kötüye kullanýmdan muaf olacaðýný makul bir þekilde bekleyemezsiniz.</span></p>
<h2><span style="font-size:16pt;">10. Bu Gizlilik Bildiriminde Yapýlan Deðiþiklikler</span></h2>
<p><span style="font-size:11pt;">Bu Beyan, herhangi bir zamanda güncellenebilir. Taraflar, Gizlilik Bildirimi&apos;nin güncellenmiþ bir sürümünü Hizmet aracýlýðýyla yayýnlayacaktýr. Taraflar, bu Gizlilik Bildirimi&apos;nde yapacaðý deðiþikliklerden haberdar olmak ve taraflarýn Kiþisel Verilerinizi nasýl koruma altýna alacaklarý konusunda bilgi sahibi olmak için bu sayfayý zaman zaman kontrol etmenizi önerir. Bu Gizlilik Bildirimini periyodik olarak gözden geçirmek ve güncellemeler hakkýnda bilgi sahibi olmak sizin sorumluluðunuzdadýr ve kabul ve taahhüt eder.</span></p>
<p><span style="font-size:11pt;">&nbsp;</span></p>
<p><span style="font-size:11pt;">Bu Bildirimde yapýlan deðiþikliklerin herhangi birine baðlý kalmayý kabul etmektesiniz. Deðiþiklik yürürlüðe girdikten sonra Uygulamayý kullanmaya devam etmeniz, deðiþtirilen Bildirim&apos;i kabul ettiðinizi gösterecektir. Deðiþtirilen Bildirimi kabul etmiyorsanýz, Uygulamayý kaldýrmanýz ve onu daha fazla kullanmaktan kaçýnmanýz gerekir.&nbsp;</span></p>
<h2><span style="font-size:16pt;">11. Herhangi bir sorunuz ya da açýklamalarýnýz varsa ne yapacaksýnýz?</span></h2>
<p><span style="font-size:11pt;">Bu Gizlilik Bildirimi ile ilgili herhangi bir sorunuz veya açýklamalarýnýz varsa, lütfen bir e-posta göndererek bizimle iletiþime geçiniz:</span></p>
<p><span style="font-size:11pt;"><strong>Email:&nbsp;</strong><a href="mailto:info@genesistraining.com.tr">info@genesistraining.com.tr</a></span></p>
<p><span style="font-size:11pt;"><strong>Telefon&nbsp;</strong>: <span style="text-align: start;color: rgb(33, 37, 41);background-color: rgb(255, 255, 255);font-size: 16px;">0546 846 23 89</span></span></p>
<p><br></p>