<div class="container">
    <div class="row" style="display: flex; align-items: center;">
        <div class="col-7 col-md-4 col-lg-3" >
            <h6>Pilates Eğitmenlerimiz</h6>
        </div>
        <div class="col-5 col-md-8 col-lg-9">
            <img src="assets/images/team/reformer4.png" class="img-fluid" width="156" height="128">
        </div>
    </div>

    <div class="row" style="margin-top: -1  0px;">
        <div class="col-2 col-md-1">
            <img src="assets/images/team/female.ico" width="32" height="32">
        </div>
        <div class="col-10 col-md-11" style="display: flex;align-items: center;">
            <span>İnci Güngör</span>
        </div>
    </div>

    <!-- <div class="row">
        <div class="col-2 col-md-1">
            <img src="assets/images/team/female.ico" width="32" height="32">
        </div>
        <div class="col-10 col-md-11" style="display: flex;align-items: center;">
            <span>Deniz Yıldırım</span>
        </div>
    </div> -->

    <div class="row" style="display: flex;align-items: center;padding-top: 50px;">
       <div class="col-7 col-md-4 col-lg-3" >
            <h6>Personal Trainer</h6>
        </div>
        <div class="col-5 col-md-8 col-lg-9">
            <img src="assets/images/team/bodybuilding-icon-5.png" class="img-fluid" width="156" height="156">
        </div>
    </div>

    <div class="row" style="margin-top: -45px;">
        <div class="col-2 col-md-1">
            <img src="assets/images/team/male.ico" width="32" height="32">
        </div>
        <div class="col-10 col-md-11" style="display: flex;align-items: center;">
            <span>Orçun Yalçın</span>
        </div>
    </div>
</div>