
.slide-caption-centered {
  transform: translateY(-50%) !important;
  bottom: 0!important;
  top: 50%!important;
  color: #744f4f;
  text-align: center;
}

.slide-caption-bottom-left {
    color:#595959;
    text-align: left;
    margin-bottom: -15px!important;
    bottom: 0rem !important;
    left: 0% !important;
    padding-bottom: 0rem!important;
  }

  ::ng-deep .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23494646' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E")!important;
}

::ng-deep .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23494646' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.white-text{
 color: white!important;
}